.navbar {
    background-color: #a5c6de;
}

#navbarText a {
    font-size: 0.9em;
    color: #f1f1f1;
}

#navbarText a:hover {
    font-size: 0.9em;
    color: white;
}

#homeLink:hover {
 color: white;
}

@media (max-width: 500px) {  
    #navbarText {font-size:2rem;}
  }

  @media (max-width: 1260px) {  
    #navbarText {font-size:.5rem;} /*1rem = 16px*/    
  }